/* ----- Logo ----- */
.navbar__container {
  width: 100%;
  height: 12vh;
  background-color: #474646;
  color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  user-select: none;
}

.navbar__logo_container {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__logo_container span{
  margin-left: 15px;
}

.navbar__logo_img {
  width: 100px;
}

/* ----- Botones ----- */
.navbar__buttons {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.navbar__buttons a {
  background-color: transparent;
  color: var(--primary);
  border: none;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.navbar__buttons a:hover {
  text-decoration: underline;
}

/* Menu Hamburguesa */
.navbar__container svg {
  display: none;
}


/* Mediaqueries */
@media screen and (max-width: 550px) {
  .navbar__container svg {
    display: block;
  }
  .navbar__buttons svg {
    transform: scale(1.2);
  }
  .navbar__buttons a {
    margin-top: 30px;
  }

  .navbar__buttons {
    width: 200px;
    height: 100vh;
    padding: 2rem;
    background-color: var(--gris);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: all ease .3s;
  }
  /* Estados del Navbar */
  .navbar__buttons.opened {
    width: 200px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
  }
  .navbar__buttons.closed {
    right: -200px;
    width: 0px;
    padding: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  }
  
}


/* Keyframes */
@keyframes open_navbar {
  0% {
    right: -200px;
    display: flex;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
    right: 0;
  }
}
@keyframes close_navbar {
  0% {
    right: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
  }
  100% {
    display: none;
    right: -200px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  }
}