.sobremi__container {
  width: 70%;
  min-height: calc(90vh - 100px);
  margin: 100px auto 0;
  display: grid;
  column-gap: 30px;
  grid-template-columns: max-content 3fr;

}

.sobremi__img {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  position: relative;
}

.sobremi__img img {
  position: absolute;
  top: -90px;
  left: -90px;
}

.sobremi__texto {
  line-height: 25px;
}

.sobremi__texto_titulo {
  margin-top: 10%;
  margin-bottom: .5em;
}
.sobremi__texto_titulo b{
  color: var(--secondary);
}

.sobremi__texto_subtitulo {
  margin-bottom: 1em;
  color: var(--secondary);
} 

/* MediaQuery */

@media screen and (max-width: 850px) {
  .sobremi__container {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    justify-items: center;
  }
  .sobremi__img {
    width: 200px;
    height: 200px;
    /* overflow: visible; */
  }
  .sobremi__img img {
    width: 300px;
    top: -40px;
    left: -50px;
  }
  .sobremi__texto_titulo {
    margin-top: 10px;
  }
}